# Enable Spark Web UI
spark.ui.enabled true

# Set the Spark UI port
spark.ui.port 4040

spark.yarn.submit.waitAppCompletion false
spark.eventLog.enabled true
spark.eventLog.dir hdfs://hostnode:9000/spark-logs

# History server for completed jobs (optional)
spark.history.fs.logDirectory hdfs://hostnode:9000/user/spark/applicationHistory
spark.history.ui.port 18080
spark.history.retainedApplications 50

spark.authenticate true
spark.authenticate.secret "{{lookup('ansible.builtin.password', './.sparkpass', length=16) }}"
spark.master yarn
spark.driver.cores 1
spark.driver.memory 2g
spark.executor.cores 4
spark.executor.memory 8g
spark.default.parallelism {{ 4 * groups['workers'] | length  }}
spark.dynamicAllocation.enabled true
spark.dynamicAllocation.minExecutors {{ groups['workers'] | length}}
spark.dynamicAllocation.maxExecutors {{ 3 * groups['workers'] | length}}
spark.dynamicAllocation.initialExecutors {{ groups['workers'] | length}}