spark.yarn.submit.waitAppCompletion false

# History server for completed jobs
# https://spark.apache.org/docs/latest/monitoring.html
spark.eventLog.enabled true
spark.eventLog.dir hdfs://hostnode:9000/spark-history
spark.history.fs.logDirectory hdfs://hostnode:9000/spark-history
spark.history.ui.port 18080
spark.history.retainedApplications 20
# spark.history.custom.executor.log.url 
spark.ui.reverseProxy true
# https://docs.cloudera.com/HDPDocuments/HDP2/HDP-2.3.6/bk_installing_manually_book/content/ch19s04s01.html
spark.yarn.historyServer.address hostnode:18080
# not sure how to save container logs https://spark.apache.org/docs/latest/running-on-yarn.html

spark.authenticate true
spark.authenticate.secret "{{lookup('ansible.builtin.password', './.sparkpass', length=16) }}"
spark.master yarn
spark.driver.cores 1
spark.driver.memory 2g
spark.executor.cores 1
spark.executor.memory 12g
spark.default.parallelism {{  groups['workers'] | length  }}
spark.executor.instances {{  groups['workers'] | length  }}
spark.dynamicAllocation.enabled true
spark.dynamicAllocation.minExecutors {{ groups['workers'] | length}}
spark.dynamicAllocation.maxExecutors {{ 2 * groups['workers'] | length}}
spark.dynamicAllocation.initialExecutors {{ groups['workers'] | length}}
spark.executor.heartbeatInterval 20s
spark.network.timeout 300s